<nav class="navbar-main">
    <a href="/listings" class="logo-link">
        <img src="/media/Job_Hunting-removebg-preview.png" alt="Job Hunt Logo" class="logo">
        <span class="company-name">Job Hunt</span>
    </a>
    <div class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="/listings">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/listings/new">Post a Job</a></li>
        <% if(!currUser){ %>
            <li><a href="/login">Login</a></li>
            <% } else { %>
                <li class="profile-dropdown">
                    <div class="profile-container">
                        <img src="https://t4.ftcdn.net/jpg/06/48/39/19/360_F_648391979_uMz6EwAlKNIJnK9r46UpTiM17nT8GuLl.jpg"
                            alt="Profile" class="profile-image">
                        <div class="dropdown-content">
                            <a href="/profile">My Profile</a>
                            <a href="/listings/user">Your Listings</a>
                            <a href="/applications">Your Applications</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </li>
                <% } %>
    </ul>
</nav>