<nav class="navbar-main">
    <a href="/listings" class="logo-link">
        <img src="/media/Job_Hunting-removebg-preview.png" alt="Job Hunt Logo" class="logo">
        <span class="company-name">Job Hunt</span>
    </a>
    <div class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="/listings">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if(!currUser){ %>
            <li><a href="/login">Login</a></li>
            <% } else { %>
                <li class="profile-dropdown">
                    <div class="profile-container">
                        <img src="<%= currUser.profileImage || 'https://t4.ftcdn.net/jpg/06/48/39/19/360_F_648391979_uMz6EwAlKNIJnK9r46UpTiM17nT8GuLl.jpg' %>"
                            alt="Profile" class="profile-image">
                        <div class="dropdown-content">
                            <a href="/users/profile">
                                <i class="fas fa-user"></i> My Profile
                            </a>
                            <a href="/listings/user">
                                <i class="fas fa-clipboard-list"></i> My Job Listings
                            </a>
                            <a href="/users/applications">
                                <i class="fas fa-briefcase"></i> My Applications
                            </a>
                            <a href="/listings/new">
                                <i class="fas fa-plus-circle"></i> Post a New Job
                            </a>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </div>
                </li>
                <% } %>
    </ul>
</nav>