<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="content">
            <h1>Welcome to Job Hunt</h1>
            <p>Your journey to finding the perfect job starts here!</p>

            <div class="information">
                <div class="infotext">
                    <h3>Hire,Work,Achieve</h3>
                    <p> Looking for a job or Get your work done</p>
                    <a href="/signup" id="signup">Sign Up</></a>
                </div>
                <div class="info_img">
                </div>
            </div>
        </div>
    </body>