<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Hunt</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/media/Job_Hunting-removebg-preview.png" type="image/x-icon">
</head>

<body>
    <%- include("navbar.ejs") %>
        <div class="content">
            <h1>Welcome to Job Hunt</h1>
            <p>Your journey to finding the perfect job starts here!</p>
        </div>

        <script src="scripts.js"></script>
</body>

</html>