<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Job Hunt</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("navbar.ejs") %>
        <div class="login-container">
            <h2>Signup to Job Hunt</h2>
            <form class="login-form" method="post" action="/signup">
                <div class="form-group">
                    <label for="name">Name <span id="astreik" style="color: red;">*</span></label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="username">Username <span id="astreik" style="color: red;">*</span></label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email <span id="astreik" style="color: red;">*</span></label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile Number <span id="astreik" style="color: red;">*</span></label>
                    <input type="number" id="mobile" name="mobile" required>
                </div>

                <div class="form-group">
                    <label for="password">Create Password <span id="astreik" style="color: red;">*</span></label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="country">Country <span id="astreik" style="color: red;">*</span></label>
                    <input type="text" id="country" name="country" required>
                </div>
                <div class="form-group">
                    <label for="state">State <span id="astreik" style="color: red;">*</span></label>
                    <input type="text" id="state" name="state" required>
                </div>
                <div class="form-group">
                    <label for="city">City <span id="astreik" style="color: red;">*</span></label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form-group">
                    <label for="pin">Pin Code <span id="astreik" style="color: red;">*</span></label>
                    <input type="number" id="pin" name="pin" required>
                </div>
                <button type="submit">signup</button>
            </form>
        </div>

</body>

</html>